.about {
    padding: 50px 50px;
    background-color: #ffffff85; 
  }
  
  .about h2 {
    color: #333; 
    padding:50px 0px;
  }
  
  .about .details a {
    color: #4d778f; 
    text-decoration: none;
  }
  
  .about .details a:hover {
    color: #e4dfdf;
  }

  
  @keyframes imgAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
   img {
    width: 150px;
    margin-bottom: 50px;
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
  }
  
   img:hover {
    animation: imgAnimation 3s infinite; 
  }